# To use these configurations, do you need to create file .env with the same
# configuration parameters, or configure a new server with new parameters.
API_REST_PORT=3000
DB_HOST='localhost'
DB_PORT=27017
DB_NAME='usercenter-app'
DB_USER='dev'
DB_PASSWORD='dev'
UPLOAD_DIR_CONTARTOS='public/files/contratos'
# Key used for generating JWT key.
SECRET_JWT='mysecret'
# Time to expire user JWToken in seconds, login time.
EXPIRE_USER_TIME=36000

## Configs e-mail sender ##
MAIL_HOST='smtp.mailtrap.io'
MAIL_PORT=2525
# true for 465, false for other ports
MAIL_SECURE=false
MAIL_USER='your_user_email_here'
MAIL_PASSWORD='your_password_email_here'
MAIL_SEND_AS_NAME='send_as_my_name'
MAIL_SEND_AS_EMAIL='send_email_as@business.com'
MAIL_SEND_TO='email_to_send_to@business.com'

## Your company's information. ## 
COMPANY_NAME='Name of your company'
COMPANY_SITE='http://www.yourcompany.com'
COMPANY_LOGO='http://www.yourcompany.com/logo.png'