    <div class="es-wrapper-color">
        <table cellpadding="0" cellspacing="0" class="es-content ui-draggable esd-footer-popover" align="center">
            <tbody>
                <tr>
                    <td class="esd-stripe esd-frame esdev-disable-select esd-hover" align="center">
                        <table class="es-footer-body" style="background-color: #003366;" width="600" cellspacing="0"
                            cellpadding="0" bgcolor="#036" align="center" esd-img-prev-src="">
                            <tbody class="ui-droppable">
                                <tr class="ui-draggable">
                                    <td class="esd-structure es-p20r es-p20l esd-frame esdev-disable-select esd-hover"
                                        align="left" esd-img-prev-src="">
                                        <table cellpadding="0" cellspacing="0" width="100%">
                                            <tbody class="ui-droppable">
                                                <tr class="ui-draggable">
                                                    <td width="560"
                                                        class="esd-container-frame esd-frame esd-hover esdev-disable-select"
                                                        align="center" valign="top">
                                                        <table cellpadding="0" cellspacing="0" width="100%">
                                                            <tbody class="ui-droppable">
                                                                <tr class="ui-draggable">
                                                                    <td align="left"
                                                                        class="esd-block-text esd-frame esd-hover esdev-disable-select esd-block">
                                                                        <p><br></p>
                                                                    </td>
                                                                </tr>
                                                                <tr class="ui-draggable">
                                                                    <td align="center"
                                                                        class="esd-block-spacer es-p10t es-p10b es-p20r es-p20l esd-frame esd-hover esdev-disable-select esd-block"
                                                                        style="font-size:0">
                                                                        <table border="0" width="75%" height="100%"
                                                                            cellpadding="0" cellspacing="0">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td
                                                                                        style="border-bottom: 3px solid #ffffff; background: none; height: 1px; width: 100%; margin: 0px;">
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr class="ui-draggable">
                                    <td class="esd-structure es-p15b es-p20r es-p20l esd-frame esdev-disable-select esd-hover"
                                        align="left" esd-img-prev-src="">
                                        <table width="100%" cellspacing="0" cellpadding="0">
                                            <tbody class="ui-droppable">
                                                <tr class="ui-draggable">
                                                    <td class="esd-container-frame esd-frame esd-hover esdev-disable-select"
                                                        width="560" valign="top" align="center">
                                                        <table width="100%" cellspacing="0" cellpadding="0"
                                                            esd-img-prev-src="">
                                                            <tbody class="ui-droppable">
                                                                <tr class="ui-draggable">
                                                                    <td align="center" esd-links-color="#ffffff"
                                                                        class="esd-block-text es-p5t esd-frame esd-hover esdev-disable-select esd-block">
                                                                        <p style="font-size: 13px; color: #ffffff;"><a
                                                                                target="_blank"
                                                                                style="font-size: 13px; color: #ffffff;"
                                                                                class="unsubscribe"
                                                                                href={{ companySite }}>Todos os
                                                                                Direitos Reservados 2020 - {{ companyName }} </a></p>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>