<strong>Olá, {{ provider }}</strong>
<p>Existem contratos expirados</p>
<p>
  <strong>Contrato: </strong> {{ contrato }} <br />
  <strong>Data/hora: </strong> {{ date }} <br />
  <br />
  <small>
    Esse contrato foi marcado como "expirado".
  </small>
</p>